GPROP_EMAIL=your_email@example.com
GPROP_PASSWORD=your_password
GPROP_FACILITY_IDS=7935,7936,7937
GPROP_UNIT_ID=1-135735
GPROP_BOOKING_NAME=YOUR NAME
GPROP_CONTACT=60123456789
GPROP_TARGET_DAY=friday
GPROP_BOOKING_PLAN=07:00-08:00>7935,7937,7936;08:00-09:00>7937,7936,7935
GPROP_TELEGRAM_BOT_TOKEN=
GPROP_TELEGRAM_CHAT_ID=
